nav {
    margin: auto;
    background: grey;
    height: 90px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 15px;

}

#logo {
    background-color: black;
    color: white;
    width: 200px;
    height: 70px;
    float: left;
    margin-top: 10px;
    margin-left: 265px;
    
}

.navitem {
    color: white;
    width: 100px;
    height: 70px;
    /* background-color: darkgray; */
    margin-top: 10px;
    margin-left: 50px;
    float: left;
}

img {
    
    margin: 15px;

}
section {

        margin-left: 250px;
}

article {

    
    width: 480px;
    border: 7px solid, black;
    display: inline-block;
    overflow: scroll;
    max-height: 480px;
    position: relative;
    scroll-margin-bottom: 15px;

}

